---
layout: list
---

{% assign post = page %}

<div class="container">

{% if page.paginator %}
{% assign paginator = page.paginator %}
{% endif %}

{% include /ad-top.html %}

  {% for post in paginator.posts limit:3 %}
      <!-- CHAT CONTAINER /w Image -->
        <div class="chat-container mb-small">
            <div class="chat-container-content">
                <div class="chat-container-image">
                    <span><img src="{{ site.cloudinarybaseurl }}/{{ post.lang }}/screenshots/{{ post.screenshot | xml_escape }}.jpg"></span>
                </div>
            </div>
        </div>
        <!-- /CHAT CONTAINER /w Image -->
  {% endfor %}

  {% include /ad-middle.html %}

  {% for post in paginator.posts offset:3 %}
      <!-- CHAT CONTAINER /w Image -->
        <div class="chat-container mb-small">
            <div class="chat-container-content">
                <div class="chat-container-image">
                    <span><img src="{{ site.cloudinarybaseurl }}/{{ post.lang }}/screenshots/{{ post.screenshot | xml_escape }}.jpg"></span>
                </div>
            </div>
        </div>
        <!-- /CHAT CONTAINER /w Image -->
  {% endfor %}

{% include /ad-bottom.html %}

 {% if paginator.next_page %}
  <div class="load-more">
    <a href="{{ site.baseurl }}/en{{ paginator.next_page_path }}">
      <button class="btn btn-lg btn-primary"><span class="emoji emoji-laughing"></span>Load more chats</button>
    </a>
  </div>
  {% endif %}

  <div class="fixed-read-more">
    <span>more chats</span>
  </div>

</div>
