---
layout: list-de
lang: de
---

<div class="container">

  {% include /ad-top.html %}

  <!-- CHAT CONTAINER -->

  <div class="chat-container mb-small">
    <div class="chat-container-content">
      <div class="chat-container-html chat-android-whatsapp chat-bg-1 chat-lang-de chat-brand-cvgn">
        <header class="chat-header">
          <div class="chat-header-app-titlebar">
            <div class="chat-header-app-titlebar-back"></div>
            <div class="chat-header-brand"></div>
            <div class="chat-header-app-titlebar-more chat-header-app-titlebar-more-1"></div>
          </div>
        </header>
        <article class="chat-messages">
          <div class="message-container message-right message-not-marked">
            <div class="message">
              <span>Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-marked-as-sent">
            <div class="message">
              <span class="has-settings">Habe eine Idee für Videos! Also sah welche, die ich gut fand, von Briten</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-left message-not-marked">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-not-marked">
            <div class="message">
              <span class="has-settings">Habe eine Idee für Videos! <span class="emoji emoji-happy"></span></span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-not-marked">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-left message-not-marked">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-gsm message-marked-as-read">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
        </article>

        <footer class="chat-footer"></footer>
      </div>
    </div>
  </div>

  <!-- / CHAT CONTAINER -->

  <!-- CHAT CONTAINER -->

  <div class="chat-container mb-small">
    <div class="chat-container-content">
      <div class="chat-container-html chat-ios-imessage chat-lang-de chat-brand-cvgn">
        <header class="chat-header">
          <div class="chat-header-app-titlebar">
            <div class="chat-header-app-titlebar-back"></div>
            <div class="chat-header-brand"></div>
            <div class="chat-header-app-titlebar-more chat-header-app-titlebar-more-1"></div>
          </div>
        </header>
        <article class="chat-messages">
          <div class="message-container message-right message-not-marked">
            <div class="message">
              <span>Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-marked-as-sent">
            <div class="message">
              <span class="has-settings">Habe eine Idee für Videos! Also sah welche, die ich gut fand, von Briten</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-left message-not-marked">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-not-marked">
            <div class="message">
              <span class="has-settings">Habe eine Idee für Videos! <span class="emoji emoji-happy"></span></span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-not-marked">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-left message-not-marked">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-gsm message-marked-as-read">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
        </article>

        <footer class="chat-footer"></footer>
      </div>
    </div>
  </div>

  <!-- / CHAT CONTAINER -->

  <!-- CHAT CONTAINER -->

  <div class="chat-container mb-small">
    <div class="chat-container-content">
      <div class="chat-container-html chat-android-whatsapp chat-bg-2 chat-lang-de chat-brand-cvgn">
        <header class="chat-header">
          <div class="chat-header-app-titlebar">
            <div class="chat-header-app-titlebar-back"></div>
            <div class="chat-header-brand"></div>
            <div class="chat-header-app-titlebar-more chat-header-app-titlebar-more-1"></div>
          </div>
        </header>
        <article class="chat-messages">
          <div class="message-container message-right message-not-marked">
            <div class="message">
              <span>Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-marked-as-sent">
            <div class="message">
              <span class="has-settings">Habe eine Idee für Videos! Also sah welche, die ich gut fand, von Briten</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-left message-not-marked">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-not-marked">
            <div class="message">
              <span class="has-settings">Habe eine Idee für Videos! <span class="emoji emoji-happy"></span></span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-not-marked">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-left message-not-marked">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr als nur einem Emoji, weil ich nett bin!</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
          <div class="message-container message-right message-gsm message-marked-as-read">
            <div class="message">
              <span class="has-settings">Ich reagiere mit mehr</span>
              <div class="message-meta">
              <div class="time">
                <span>16:00</span>
              </div>
              <div class="message-state"></div>
            </div>
            </div>
          </div>
        </article>

        <footer class="chat-footer"></footer>
      </div>
    </div>
  </div>

  <!-- / CHAT CONTAINER -->

  {% include /ad-middle.html %}

  {% assign newcount = chatcount | minus:4 %}

  {% include /ad-fb-fr.html %}

  {% assign nextpage = chatcount | minus:4 %}

  <div class="load-more">
    <a href="{{ site.baseurl }}/{{ page.lang }}/chats/{{ nextpage }}">
      <button class="btn btn-lg btn-primary"><span class="emoji emoji-laughing"></span>Load more chats</button>
    </a>
  </div>

  <div class="fixed-read-more">
    <span>more chats</span>
  </div>

</div>
