<nav class="fixed-nav">
  <div class="container">
    <a href="#" class="btn-brand-icon"><img src="{{ "/static/img/cvgn-icon.png" | prepend: site.baseurl }}"></a></a>
    <a href="#" class="btn-brand-name"><h1>{{ site.title }}</h1></a>

    {% if page.lang == 'en' %}
    <a href="{{ site.baseurl }}/{{ page.lang }}/inbox" class="btn-linktoupload"></a>
    {% elsif page.lang == 'po' %}
    <a href="{{ site.baseurl }}/{{ page.lang }}/inbox" class="btn-linktoupload"></a>
    {% elsif page.lang == 'fr' %}
    <a href="{{ site.baseurl }}/{{ page.lang }}/inbox" class="btn-linktoupload"></a>
    {% endif %}
  </div>
</nav>
