---
layout: list
---



<div class="container">
  page.category:{{ page.category }}</br>

    {% include /ad-top.html %}


    {% assign postCounterA = 0 %}
    {% assign maxPostA = 3 %}
    {% for post in site.posts %}
    {% if post.categories contains page.category %}
        <!-- CHAT CONTAINER /w Image -->
          <div class="chat-container mb-small">
              <div class="chat-container-content">
                  <div class="chat-container-image">
                      <span><a href="{{ post.url | prepend: site.baseurl }}">{{ post.screenshot }}</a></span>
                      {% assign postCounterA = postCounterA | plus: 1 %}
                      {{ postCounterA }}
                      {% if postCounterA >= maxPostA %}
                        {% break %}
                      {% endif %}
                  </div>
              </div>
          </div>
          <!-- /CHAT CONTAINER /w Image -->
    {% endif %}
    {% endfor %}

    {% include /ad-middle.html %}

    {% assign postCounterB = 3 %}
    {% assign maxPostB = 7 %}
    {% for post in site.posts %}
    {% if post.categories contains page.category %}
        <!-- CHAT CONTAINER /w Image -->
          <div class="chat-container mb-small">
              <div class="chat-container-content">
                  <div class="chat-container-image">
                      <span><a href="{{ post.url | prepend: site.baseurl }}">{{ post.screenshot }}</a></span>
                      {% assign postCounterB = postCounterB | plus: 1 %}
                      {{ postCounterB }}
                      {% if postCounterB >= maxPostB %}
                        {% break %}
                      {% endif %}
                  </div>
              </div>
          </div>
          <!-- /CHAT CONTAINER /w Image -->
    {% endif %}
    {% endfor %}

    {% include /ad-bottom.html %}

</div>
